.profile{
    width: 300px;
    height: 300px;
    background-image: url(https://static.vecteezy.com/system/resources/previews/005/544/718/non_2x/profile-icon-design-free-vector.jpg);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    position: relative;
}
.notify{
    width: 50px;
    height: 50px;
    background-color: grey;
    border-radius:  50%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    bottom: 15px;
    right: 15px;
}